.head {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;

  background-color: lightgray;
}

.head__clicker {
  margin-top: 40px;
}

.head__button-clicker {
  border-radius: 0;
  border: 2px solid black;
  margin-right: 20px;
}