.product-card {
  display: flex;
  flex-direction: row;
}

.characteristics-column {
  width: 100%;

  margin-left: 130px;
}

.actions {
  position: relative;

  display: flex;

  margin-bottom: 30px;
}

.actions__button-buy {
  text-transform: uppercase;

  width: 65%;
  padding: 15px;

  background-color: darkkhaki;
}

.actions__button-buy-hint {
  position: absolute;

  font-size: 13px;

  top: 50px;
  left: 72px;
}

.author-products,
.similar-products {
  margin-top: 60px;
  margin-bottom: 20px;
}

.author-products__head, 
.similar-products__head,
.products-list,
.products-list__item-floor-top, 
.products-list__item-floor-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list__item-floor-top p, 
.products-list__item-floor-bottom p {
  margin: 0;
}

.products-list {
  justify-content: start;
  flex-wrap: wrap;
}