.head {
  margin-bottom: 40px;
}

.head__header {
  text-align: center;

  margin: 0;
}

.head__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
}
