.footer {
  color: white;
  background-color: #4f4f4f;
}

.footer__columns {
  display: flex;

  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  
  margin-right: 200px;
}

.footer__column:nth-child(1) {
  margin-right: 130px;
}

.footer__column h4 {
  color: #aaaaaa;
}

.footer__column select {
  color: white;
  background-color:darkgray;

  height: 30px;
}

.footer__column a {
  text-transform: uppercase;

  padding: 8px 0;

  color: white;
}

.footer__end {
  color: #adadad;
  background-color: #3f3f3f;
}

.footer__end-text {
  display: flex;
  justify-content: space-between;
}
